---
server:
  applicationConnectors:
  - type: {{getv "/server.applicationConnectors.0.type"}}
    port: {{getv "/server.applicationConnectors.0.port"}}
  adminConnectors:
  - type: {{getv "/server.adminConnectors.0.type"}}
    port: {{getv "/server.adminConnectors.0.port"}}
  requestLog:
    appenders:
    - type: {{getv "/server.requestLog.appenders.0.type"}}
      currentLogFilename: {{getv "/server.requestLog.appenders.0.currentLogFilename"}}
      threshold: {{getv "/server.requestLog.appenders.0.threshold"}}
      archive: {{getv "/server.requestLog.appenders.0.archive"}}
      archivedLogFilenamePattern: {{getv "/server.requestLog.appenders.0.archivedLogFilenamePattern"}}
      maxFileSize: {{getv "/server.requestLog.appenders.0.maxFileSize"}}
      archivedFileCount: {{getv "/server.requestLog.appenders.0.archivedFileCount"}}
      timeZone: {{getv "/server.requestLog.appenders.0.timeZone"}}
elasticsearch:
  hosts: {{getv "/elasticsearch.hosts"}}
  cluster: {{getv "/elasticsearch.cluster"}}
  tableNamePrefix: {{getv "/elasticsearch.tableNamePrefix"}}
  getQueryTimeout: {{getv "/elasticsearch.getQueryTimeout"}}
hbase:
  secure: {{getv "/hbase.secure"}}
  tableName: {{getv "/hbase.tableName"}}
  hbaseZookeeperQuorum: {{getv "/hbase.hbaseZookeeperQuorum"}}
  hbaseZookeeperClientPort: {{getv "/hbase.hbaseZookeeperClientPort"}}
  seggregatedTablePrefix: {{getv "/hbase.seggregatedTablePrefix"}}
cluster:
  name: {{getv "/cluster.name"}}
  discovery:
    type: {{getv "/cluster.discovery.type"}}
    disableMulticast: {{getv "/cluster.discovery.disableMulticast"}}
    members: {{getv "/cluster.discovery.members"}}
cacheConfig:
  maxIdleSeconds: {{getv "/cacheConfig.maxIdleSeconds"}}
  timeToLiveSeconds: {{getv "/cacheConfig.timeToLiveSeconds"}}
logging:
  level: {{getv "/logging.level"}}
  appenders:
  - type: {{getv "/logging.appenders.0.type"}}
    currentLogFilename: {{getv "/logging.appenders.0.currentLogFilename"}}
    threshold: {{getv "/logging.appenders.0.threshold"}}
    archive: {{getv "/logging.appenders.0.archive"}}
    archivedLogFilenamePattern: {{getv "/logging.appenders.0.archivedLogFilenamePattern"}}
    timeZone: {{getv "/logging.appenders.0.timeZone"}}
    maxFileSize: {{getv "/logging.appenders.0.maxFileSize"}}
    archivedFileCount: {{getv "/logging.appenders.0.archivedFileCount"}}
cardinality:
  enabled: {{getv "/cardinality.enabled"}}
  batchSize: {{getv "/cardinality.batchSize"}}
  active: {{getv "/cardinality.active"}}
  interval: {{getv "/cardinality.interval"}}
  initialDelay: {{getv "/cardinality.initialDelay"}}
  maxCardinality: {{getv "/cardinality.maxCardinality"}}
esIndexOptimizationConfig:
  active: {{getv "/esIndexOptimizationConfig.active"}}
  interval: {{getv "/esIndexOptimizationConfig.interval"}}
  initialDelay: {{getv "/esIndexOptimizationConfig.initialDelay"}}
consoleHistoryConfig:
  active: {{getv "/consoleHistoryConfig.active"}}
  interval: {{getv "/consoleHistoryConfig.interval"}}
  initialDelay: {{getv "/consoleHistoryConfig.initialDelay"}}
deletionconfig:
  active: {{getv "/deletionconfig.active"}}
  interval: {{getv "/deletionconfig.interval"}}
  initialdelay: {{getv "/deletionconfig.initialdelay"}}
